<nav class="navbar">

<!-- LEFT : LOGO -->

<div class="nav-left">
<a class="navbar-brand" href="/">
<i class="fa-regular fa-compass logo-icon"></i>
</a>
<span class="library-text">My Digital Library</span>
</div>


<!-- HAMBURGER -->

<div class="menu-toggle" id="menu-toggle">
<i class="fa-solid fa-bars"></i>
</div>


<!-- LINKS -->

<ul class="nav-links" id="nav-links">

<li>
<a href="/home/<%= profile.email %>">
<i class="fa-solid fa-house"></i> Home
</a>
</li>

<li>
<a href="/wishlist/<%= profile.email %>">
<i class="fa-solid fa-heart"></i> Wishlist
</a>
</li>

<li>
<a href="/booked/<%= profile.email %>">
<i class="fa-solid fa-bookmark"></i> Booked
</a>
</li>

<li>
<a href="/search/<%= profile.email %>">
<i class="fa-solid fa-magnifying-glass"></i> Search
</a>
</li>

<li>
<a href="/fines/<%= profile.email %>">
<i class="fa-solid fa-list-check"></i> Fines
</a>
</li>

<li>
<a href="/ai-chat/<%= profile.email %>">
<i class="fa-solid fa-robot"></i> OpenAI
</a>
</li>

<li>
<a href="/student/profile/<%= profile.email %>" class="profile-btn">
<i class="fa-solid fa-user"></i> Profile
</a>
</li>

</ul>

</nav>